<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398523306336-3pdpu9f4vkiii558ja5mu9q46oga8lbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398523306336-3pdpu9f4vkiii558ja5mu9q46oga8lbu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398523306336-u0qpes7ctj5k18fg71dimv3cavjvbnkm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsb2O5oKXJJ6Q7vZckge6NEgeA-am_EQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>398523306336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mpac</string>
	<key>PROJECT_ID</key>
	<string>mpac-sports</string>
	<key>STORAGE_BUCKET</key>
	<string>mpac-sports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398523306336:ios:7dfb8b88fe5d100ba7ce05</string>
	<key>SERVER_CLIENT_ID</key>
    <string>398523306336-jla6ojupjteuuulrj1chdam16e7o6djj.apps.googleusercontent.com</string>
</dict>
</plist>